[submodule "lib_RetroNetworking"]
	path = lib_RetroNetworking
	url = https://github.com/DeLL116/lib_RetroNetworking
[submodule "lib_androidui"]
	path = lib_androidui
	url = https://github.com/DeLL116/lib_androidui
